<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CAFECOMP-CAMTUC</title>
    <link rel="icon" href="../static/img/icon.png" type="image/png">
    <link rel="stylesheet" href="../static/css/index.css">
</head>

<body>
    <div id="janelaDeLogin">
        <img src="../static/img/CAFECOMP-logo.png" alt="">
        <p>Faça login para continuar</p>
        <input type="email" id="inputEmail" placeholder="Email" required>
        <input type="password" id="inputSenha" placeholder="Senha" required>
        <a href="#" id="linkRedefinirSenha">Esqueci a senha</a>
        <button id="botaoEntrar">Entrar</button>
        <button id="botaoNaoPossuoUmaConta">Não possuo uma conta</button>
    </div>
</body>

<script type="module" src="../static/js/index.js"></script>

</html>