<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CAFECOMP-CAMTUC</title>
    <link rel="icon" href="../static/img/icon.png" type="image/png">
    <link rel="stylesheet" href="../static/css/inicio.css">
    <link rel="stylesheet" href="../static/css/global.css">
</head>

<body>
    <!-- Menus lateral e superior -->
    <div id="menus">
        <div id="menuSuperior">
            <img src="../static/img/menuLateralIcon.png" alt="" id="menuLateralIcon" class="imagemBotao">
            <a href="#" class="textoBotao">Início</a>
            <a href="#" class="textoBotao">Notícias</a>
            <a href="#" class="textoBotao">Portal Transparência</a>
            <a href="#" class="textoBotao">Chamados</a>
            <img src="../static/img/CAFECOMP-logo.png" alt="" id="cafecompLogo">
        </div>
        <div id="menuLateral">
            <img src="../static/img/menuLateralIcon.png" alt="" id="menuLateralIcon2" class="imagemBotao">
            <a href="#" class="textoBotao">Início</a>
            <a href="#" class="textoBotao">Notícias</a>
            <a href="#" class="textoBotao">Portal Transparência</a>
            <a href="#" class="textoBotao">Chamados</a>
            <a href="#" class="textoBotao">Fale Conosco</a>
            <a href="#" class="textoBotao">SAGITTA</a>
            <a href="#" class="textoBotao">SIGAA</a>
            <a href="#" class="textoBotao">CAMTUC</a>
            <a href="#" class="textoBotao">UFPA</a>
        </div>
    </div>
    <!-- Menus lateral e superior -->
    <div id="muralDeNoticias">
        <div class="slide active" id="slide1">
            <div class="noticia">
                <h1>Conheça o Campus Universitário de Tucuruí</h1>
                <p>
                    Criado em 2005, o então Núcleo Universitário de Tucuruí da UFPA ofertou, inicialmente, os cursos de
                    graduação em Engenharia Elétrica e de Engenharia Civil e, posteriormente, o curso de Engenharia
                    Mecânica.
                </p>
                <a href="#">Continuar lendo</a>
            </div>
        </div>
        <div class="slide" id="slide2">
            <div class="noticia">
                <h1>UFPA divulga o resultado da terceira reoferta de vagas do Processo Seletivo 2024</h1>
                <p>
                    O Centro de Registro e Indicadores Acadêmicos da Universidade Federal do Pará (Ciac/UFPA) deu
                    início, nesta quinta-feira, 14 de novembro, à habilitação ao vínculo institucional das(os)
                    candidatas(os) classificadas(os) na terceira reoferta do Processo Seletivo 2024 (PS2024).
                </p>
                <a href="#">Continuar lendo</a>
            </div>
        </div>
        <div class="slide" id="slide3">
            <div class="noticia">
                <h1>O Programa REDTUC realizará a 1ª Edição do Futebol de Robô</h1>
                <p>
                    Você está convidado para o evento mais esperado do ano! O Programa REDTUC, em parceria com a Escola
                    Rui Barbosa, realizará a 1ª Edição do Futebol de Robô nesta sexta-feira. Venha prestigiar a
                    Culminância dos Projetos de Eletiva e Aprofundamento Curricular!
                </p>
                <a href="#">Continuar lendo</a>
            </div>
        </div>
        <div id="botoesSlider">
            <button class="botaoSlider active"></button>
            <button class="botaoSlider"></button>
            <button class="botaoSlider"></button>
        </div>

    </div>
</body>

<script type="module" src="../static/js/global.js"></script>
<script type="module" src="../static/js/inicio.js"></script>

</html>