#cabecalho {
    height: auto;
    width: 900px;
    padding-top: 85px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#cabecalho button {
    width: 200px;
    height: 50px;
    background-color: black;
    color: white;
    border-radius: 10px;
}

#titulo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 600px;
}

.textoChamado p,
h1,
h3 {
    padding: 0;
    margin: 2px 0px;
    text-align: left;
}

.chamado {
    width: 900px;
    height: auto;
    background-color: #DEDEDE;
    border-radius: 10px;
    margin: 10px 0px;
    padding: 10px 15px;
    display: flex;
    align-items: flex-start;
}

.textoChamado,
.statusChamado {
    height: 50px;
}

.textoChamado {
    width: 80%;
    height: auto;
}

.statusChamado {
    width: 20%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pendente {
    color: red;
}

.resolvido {
    color: green;
}

.janelaSobreposta {
    width: 400px;
    height: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.janelaSobreposta input {
    width: 350px;
    height: 30px;
}

#areaDescricao {
    width: 360px;
    height: 300px;
    border-radius: 10px;
    margin: 0;
    padding: 10px;
    border: none;
    margin-bottom: 5px;
    resize: none;
}

#botaoEnviar,
#botaoCancelar,
#botaoFechar {
    width: 150px;
    height: 30px;
    margin: 5px;
}

#botaoEnviar {
    background-color: black;
    color: white;
}

#descricaoChamado {
    text-align: justify;
    margin: 10px 0px;
}

#statusChamado:hover {
    transform: scale(1.05);
    cursor: pointer;
}

#statusChamado:active {
    transform: scale(0.98);
}