html,
body {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif, arial;
}

.train-one-regular {
    font-family: "Train One", system-ui;
    font-weight: 400;
    font-style: normal;
}


button:hover,
.imagemBotao:hover,
.textoBotao:hover {
    transform: scale(1.02);
}

button:active,
.imagemBotao:active,
.textoBotao:active {
    transform: scale(0.98);
}

button {
    border: none;
    border-radius: 60px;
    transition: transform 0.2s;
}

.textoBotao {
    text-decoration: none;
}

.textBold {
    font-weight: bold;
}

/*configurações globais dos menus superior e lateral*/
#menuSuperior {
    background-color: #002C69;
    display: flex;
    width: 100%;
    height: 80px;
    align-items: center;
    position: fixed;
    z-index: 1000;
}

#menuSuperior .textoBotao {
    color: white;
    font-weight: bold;
    margin: 0px 20px;
}

#menuLateralIcon,
#menuLateralIcon2 {
    width: 30px;
    height: auto;
    object-fit: contain;
    padding-left: 20px;
    margin: 0px 20px;
}

#menuSuperior #cafecompLogo {
    width: 100px;
    height: auto;
    object-fit: contain;
    margin-left: auto;
    padding: 20px;
}

#menuLateral {
    background-color: #002C69;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: auto;
    position: fixed;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
}

#menuLateral.show {
    transform: translateX(0);
}

#menuLateral .textoBotao {
    color: white;
    font-weight: bold;
    padding: 20px 20px;
    margin: 0px 20px;
    display: block;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

#menuLateral a:last-child {
    border-bottom: none;
}

#menuLateral #menuLateralIcon2 {
    padding-top: 20px;
}

#fimDePagina {
    background-color: black;
    width: 100%;
    height: auto;
    padding: 10px 0px;
    margin-top: 20px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

#fimDePagina h1,
p {
    margin: 2px 0;
    padding: 0;
    text-align: center;
}

#fimDePagina #texto {
    width: 80%;
    height: auto;
}

#fimDePagina #texto #icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

#fimDePagina #texto #icons img {
    width: 40px;
    height: auto;
    object-fit: contain;
    margin: 5px 5px;
}

#iconeUfpa img,
#iconeCamtuc img {
    width: 90px;
    height: auto;
    object-fit: contain;
}