<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CAFECOMP-CADASTRO</title>
    <link rel="stylesheet" href="../static/css/cadastro.css">
</head>

<body>
    <div id="janelaDeLogin">
        <img src="../static/img/CAFECOMP-logo.png" alt="" />
        <p class="textoBold">Cadastro</p>
        <p>Atenção: verifique seus dados com cuidado! <br> não será possível alterar depois!</p>
        <form action="/cadastro/" method="POST">
            <input type="email" id="inputEmail" placeholder="Email" required>
            <input type="text" name="" id="" placeholder="nome completo">
            <input type="number" name="" id="" placeholder="numero de matrícula">
            <p class="textoSimples">A senha deve possuir pelo menos 6 caracteres</p>
            <input type="password" id="inputSenha" placeholder="Senha" required>
            <input type="password" id="inputConfirmaSenha" placeholder="Confirmar Senha" required>
            <button id="botaoConfirmar" type="submit">Confirmar</button>
        </form>
    </div>
</body>

<script type="module" src="../static/js/cadastro.js"></script>

</html>