<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CAFECOMP-CAMTUC</title>
    <link rel="icon" href="../static/img/icon.png" type="image/png">
    <link rel="stylesheet" href="../static/css/global.css">
    <link rel="stylesheet" href="../static/css/chamados.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Train+One&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"
        rel="stylesheet">
</head>

<body>
    <!-- Menus lateral e superior -->
    <div id="menus">
        <div id="menuSuperior">
            <img src="../static/img/menuLateralIcon.png" alt="" id="menuLateralIcon" class="imagemBotao show">
            <a href="/" class="textoBotao">Início</a>
            <a href="/noticias/" class="textoBotao">Notícias</a>
            <a href="/portal-transparencia/" class="textoBotao">Portal Transparência</a>
            <a href="/chamados/" class="textoBotao">Chamados</a>
            <button id="botaoSair">Sair</button>
            <img src="../static/img/CAFECOMP-logo.png" alt="" id="cafecompLogo">
        </div>
        <div id="menuLateral">
            <img src="../static/img/menuLateralIcon.png" alt="" id="menuLateralIcon2" class="imagemBotao show">
            <a href="/" class="textoBotao">Início</a>
            <a href="/noticias/" class="textoBotao">Notícias</a>
            <a href="/portal-transparencia/" class="textoBotao">Portal Transparência</a>
            <a href="/chamados/" class="textoBotao">Chamados</a>
            <a href="#" class="textoBotao">Fale Conosco</a>
            <a href="https://sagitta.ufpa.br/sagitta/index.jsf" class="textoBotao">SAGITTA</a>
            <a href="https://sigaa.ufpa.br/" class="textoBotao">SIGAA</a>
            <a href="https://www.camtuc.ufpa.br/" class="textoBotao">CAMTUC</a>
            <a href="https://ufpa.br/" class="textoBotao">UFPA</a>
        </div>
    </div>
    <!-- Menus lateral e superior -->

    <div id="conteudo">
        <div id="cabecalho">
            <div id="titulo">
                <h1>Meus chamados</h1>
                <p>Atenção: cada aluno pode ter no máximo 3 chamados pendentes</p>
            </div>
            <button id="botaoNovoChamado">Novo chamado</button>
        </div>

        <!-- Chamados pendentes -->
        <div class="chamado imagemBotao">
            <div class="textoChamado">
                <h3>Assunto: Dificuldade para acessar o material do evento </h3>
                <p>06/12/2024 - 19:30</p>
            </div>
            <div class="statusChamado pendente">
                <h2>Pendente</h2>
            </div>
        </div>

        <div class="chamado imagemBotao">
            <div class="textoChamado">
                <h3>Assunto: Não consigo acessar o fórum de discussões</h3>
                <p>05/12/2024 - 18:45</p>
            </div>
            <div class="statusChamado pendente">
                <h2>Pendente</h2>
            </div>
        </div>

        <div class="chamado imagemBotao">
            <div class="textoChamado">
                <h3>Assunto: Falha no pagamento da inscrição</h3>
                <p>03/12/2024 - 19:20</p>
            </div>
            <div class="statusChamado pendente">
                <h2>Pendente</h2>
            </div>
        </div>

        <!-- Chamados em análise -->
        <div class="chamado imagemBotao">
            <div class="textoChamado">
                <h3>Assunto: Problema ao realizar inscrição no evento</h3>
                <p>06/12/2024 - 15:05</p>
            </div>
            <div class="statusChamado em-analise">
                <h2>Em Análise</h2>
            </div>
        </div>

        <div class="chamado imagemBotao">
            <div class="textoChamado">
                <h3>Assunto: Solicitação de material extra para o curso</h3>
                <p>04/12/2024 - 13:33</p>
            </div>
            <div class="statusChamado em-analise">
                <h2>Em Análise</h2>
            </div>
        </div>

        <div class="chamado imagemBotao">
            <div class="textoChamado">
                <h3>Assunto: Dificuldade em acessar o conteúdo gravado</h3>
                <p>02/12/2024 - 17:40</p>
            </div>
            <div class="statusChamado em-analise">
                <h2>Em Análise</h2>
            </div>
        </div>

        <!-- Chamados resolvidos -->
        <div class="chamado imagemBotao">
            <div class="textoChamado">
                <h3>Assunto: Dúvidas sobre o conteúdo do evento</h3>
                <p>05/12/2024 - 22:12</p>
            </div>
            <div class="statusChamado resolvido">
                <h2>Resolvido</h2>
            </div>
        </div>

        <div class="chamado imagemBotao">
            <div class="textoChamado">
                <h3>Assunto: Pedido de alteração na agenda do evento</h3>
                <p>04/12/2024 - 09:00</p>
            </div>
            <div class="statusChamado resolvido">
                <h2>Resolvido</h2>
            </div>
        </div>

        <div class="chamado imagemBotao">
            <div class="textoChamado">
                <h3>Assunto: Questionamento sobre o horário das palestras</h3>
                <p>01/12/2024 - 12:00</p>
            </div>
            <div class="statusChamado resolvido">
                <h2>Resolvido</h2>
            </div>
        </div>
    </div>

    <div class="telaSobreposta" id="novoChamado">
        <div class="janelaSobreposta">
            <h1>Novo chamado</h1>
            <input type="text" placeholder="Assunto">
            <textarea name="" id="areaDescricao" placeholder="Descrição"></textarea>
            <button id="botaoEnviar">Enviar</button>
            <button id="botaoCancelar">Cancelar</button>
            <p>Atenção: após enviar, não será possível desfazer!</p>
        </div>
    </div>

    <div class="telaSobreposta" id="verChamado">
        <div class="janelaSobreposta">
            <h2>Assunto: falha ao tentar relizar a inscrição no evento</h2>
            <p class="textBold">Jose Raimundo Maciel</p>
            <p>joseRaimundoGay24@gmail.com</p>
            <p id="descricaoChamado">Descrição: Ao tentar realizar a inscrição no evento "Semana Acadêmica de
                Engenharia", o sistema
                apresenta uma mensagem de erro ao carregar a página de pagamento. Já tentei utilizar outros
                navegadores e dispositivos, mas o problema persiste. Preciso de ajuda para finalizar a inscrição
                antes do prazo.</p>
            <h2 id="statusChamado" class="pendente">Pendente</h2>
            <button id="botaoEnviar">Salvar</button>
            <button id="botaoFechar">Fechar</button>
            <p>Atenção: após enviar, não será possível desfazer!</p>
        </div>
    </div>

    <!-- fim de pagina -->
    <div id="fimDePagina">
        <div id="iconeUfpa">
            <img src="../static/img/ufpaIcon.png" alt="">
        </div>
        <div id="texto">
            <h1>CAFECOMP</h1>
            <P>Centro acadêmico de Engenharia de Computação “Janderson Souza“
                <br>Universidade Federal do Pará
                <br>Campus Universitário de Tucuruí
            </P>
            <div id="icons">
                <a href="https://www.instagram.com/cafecompcamtuc/">
                    <img src="../static/img/instagram.png" alt="" class="imagemBotao">
                </a>
                <a href="mailto:cafecompcamtuc@gmail.com">
                    <img src="../static/img/gmail.png" alt="" class="imagemBotao">
                </a>
            </div>
        </div>
        <div id="iconeCamtuc">
            <img src="../static/img/camtucIcon.png" alt="">
        </div>
    </div>

    <script type="module" src="../static/js/global.js"></script>
    <script type="module" src="../static/js/chamados.js"></script>
</body>

</html>