<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CAFECOMP-CAMTUC</title>
    <link rel="icon" href="../static/img/icon.png" type="image/png">
    <link rel="stylesheet" href="../static/css/inicio.css">
    <link rel="stylesheet" href="../static/css/global.css">
</head>

<body>
    <!-- Menus lateral e superior -->
    <div id="menus">
        <div id="menuSuperior">
            <img src="../static/img/menuLateralIcon.png" alt="" id="menuLateralIcon" class="imagemBotao">
            <a href="#" class="textoBotao">Início</a>
            <a href="#" class="textoBotao">Notícias</a>
            <a href="#" class="textoBotao">Portal Transparência</a>
            <a href="#" class="textoBotao">Chamados</a>
            <img src="../static/img/CAFECOMP-logo.png" alt="" id="cafecompLogo">
        </div>
        <div id="menuLateral">
            <img src="../static/img/menuLateralIcon.png" alt="" id="menuLateralIcon2" class="imagemBotao">
            <a href="#" class="textoBotao">Início</a>
            <a href="#" class="textoBotao">Notícias</a>
            <a href="#" class="textoBotao">Portal Transparência</a>
            <a href="#" class="textoBotao">Chamados</a>
            <a href="#" class="textoBotao">Fale Conosco</a>
            <a href="#" class="textoBotao">SAGITTA</a>
            <a href="#" class="textoBotao">SIGAA</a>
            <a href="#" class="textoBotao">CAMTUC</a>
            <a href="#" class="textoBotao">UFPA</a>
        </div>
        <!-- Menus lateral e superior -->
    </div>
</body>

<script type="module" src="../static/js/global.js"></script>

</html>