<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CAFECOMP-CAMTUC</title>
    <link rel="icon" href="../static/img/icon.png" type="image/png">
    <link rel="stylesheet" href="../static/css/noticias.css">
    <link rel="stylesheet" href="../static/css/global.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Train+One&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"
        rel="stylesheet">
</head>

<body>
    <!-- Menus lateral e superior -->
    <div id="menus">
        <div id="menuSuperior">
            <img src="../static/img/menuLateralIcon.png" alt="" id="menuLateralIcon" class="imagemBotao show">
            <a href="index.html" class="textoBotao">Início</a>
            <a href="noticias.html" class="textoBotao">Notícias</a>
            <a href="portalTransparencia.html" class="textoBotao">Portal Transparência</a>
            <a href="chamados.html" class="textoBotao">Chamados</a>
            <button id="botaoSair">Sair</button>
            <img src="../static/img/CAFECOMP-logo.png" alt="" id="cafecompLogo">
        </div>
        <div id="menuLateral">
            <img src="../static/img/menuLateralIcon.png" alt="" id="menuLateralIcon2" class="imagemBotao show">
            <a href="index.html" class="textoBotao">Início</a>
            <a href="noticias.html" class="textoBotao">Notícias</a>
            <a href="portalTransparencia.html" class="textoBotao">Portal Transparência</a>
            <a href="chamados.html" class="textoBotao">Chamados</a>
            <a href="#" class="textoBotao">Fale Conosco</a>
            <a href="https://sagitta.ufpa.br/sagitta/index.jsf" class="textoBotao">SAGITTA</a>
            <a href="https://sigaa.ufpa.br/" class="textoBotao">SIGAA</a>
            <a href="https://www.camtuc.ufpa.br/" class="textoBotao">CAMTUC</a>
            <a href="https://ufpa.br/" class="textoBotao">UFPA</a>
        </div>
    </div>
    <!-- Menus lateral e superior -->



    <div id="conteudo">
        <div id="noticias">
            <h1>Ultimas notícias</h1>
            <button id="botaoPublicarNoticia">Publicar nova</button>
            <div class="noticia">
                <div class="imagemNoticia">
                    <img src="../static/img/noticia1.png" alt="">
                </div>
                <div class="TextoNoticia">
                    <h1>Conheça o Campus Universitário de Tucuruí</h1>
                    <p>Criado em 2005, o então Núcleo Universitário de Tucuruí da UFPA ofertou, inicialmente, os cursos
                        de
                        graduação em Engenharia Elétrica e de Engenharia Civil e, posteriormente, o curso de Engenharia
                        Mecânica.</p>
                    <p class="textBold">06/12/2024 - 14:40</p>
                </div>
            </div>
            <div class="noticia">
                <div class="imagemNoticia">
                    <img src="../static/img/noticia2.png" alt="">
                </div>
                <div class="TextoNoticia">
                    <h1>UFPA divulga a terceira reoferta do PS 2024</h1>
                    <p>O Centro de Registro e Indicadores Acadêmicos da Universidade Federal do Pará (Ciac/UFPA) deu
                        início, nesta quinta-feira, 14 de novembro, à habilitação ao vínculo institucional das(os)
                        candidatas(os) classificadas(os) na terceira reoferta do Processo Seletivo 2024 (Ps2024).</p>
                    <p class="textBold">06/12/2024 - 14:40</p>
                </div>
            </div>
            <div class="noticia">
                <div class="imagemNoticia">
                    <img src="../static/img/noticia3.jpeg" alt="">
                </div>
                <div class="TextoNoticia">
                    <h1>REDTUC realizará a 1ª Edição do Futebol de Robô</h1>
                    <p>O Programa REDTUC, em parceria com a Escola Rui Barbosa, realizará a 1ª Edição do Futebol de Robô
                        nesta sexta-feira.</p>
                    <p class="textBold">06/12/2024 - 14:40</p>
                </div>
            </div>
            <div id="menuProximaPagina">
                <button id="botaoProximaPagina">Proxima</button>
                <div id="indicePagina">
                    <p>página</p>
                    <input type="number" id="numeroPagina" placeholder="1">
                    <p>de</p>
                    <p id="totalPaginas" class="textBold">200</p>
                </div>
            </div>
        </div>
    </div>

    <div class="telaSobreposta" id="janelaPublicarNoticia">
        <div class="janelaSobreposta" id="publicarNoticia">

            <div id="esquerda">
                <h1>Publicar nova</h1>
                <div id="inserirImagem">Clique para adicionar uma imagem</div>
                <p>Tamanho recomendado: 500px X 250px</p>
                <input type="text" placeholder="Título">
                <p>Tente não inserir um título muito extenso por favor...</p>
                <button id="botaoSalvar">Salvar</button>
                <button id="botaoCancelar">Cancelar</button>
                <p>Atenção: após salvar, não será possível desfazer!</p>
            </div>
            <div id="direita">
                <textarea name="" id="" placeholder="Texto"></textarea>
            </div>
        </div>
    </div>

    <!-- fim de pagina -->
    <div id="fimDePagina">
        <div id="iconeUfpa">
            <img src="../static/img/ufpaIcon.png" alt="">
        </div>
        <div id="texto">
            <h1>CAFECOMP</h1>
            <P>Centro acadêmico de Engenharia de Computação “Janderson Souza“
                <br>Universidade Federal do Pará
                <br>Campus Universitário de Tucuruí
            </P>
            <div id="icons">
                <a href="https://www.instagram.com/cafecompcamtuc/">
                    <img src="../static/img/instagram.png" alt="" class="imagemBotao">
                </a>
                <a href="mailto:cafecompcamtuc@gmail.com">
                    <img src="../static/img/gmail.png" alt="" class="imagemBotao">
                </a>
            </div>
        </div>
        <div id="iconeCamtuc">
            <img src="../static/img/camtucIcon.png" alt="">
        </div>
    </div>

    <script type="module" src="../static/js/global.js"></script>
    <script type="module" src="../static/js/noticias.js"></script>
</body>

</html>